#cloud-config
users:
  - default
  - name: ubuntu
    gecos: ubuntu
    primary_group: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    ssh_import_id:
    lock_passwd: false
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
packages:
  - net-tools
  - openssl
  - squid-openssl

write_files:
  - path: /root/create-private-ca.sh
    permissions: 0755
    owner: root
    content: |
        #!/bin/bash

        mkdir -p /etc/squid/cert
        cd /etc/squid/cert
        openssl genrsa -out ca.key 2048
        openssl req -x509 -new -nodes -sha256 -days 365 -key ca.key -out ca.pem -subj '/C=US/ST=SanJose/O=IT/CN=Self-signed CA'
        openssl x509 -in ca.pem -outform DER -out ca.der
        openssl dhparam -outform PEM -out dhparam.pem 2048
        chown -R proxy:proxy /etc/squid/cert
        chmod 700 /etc/squid/cert

        /usr/lib/squid/security_file_certgen -c -s /var/spool/squid/ssl_db -M 4MB
        chown -R proxy:proxy /var/spool/squid/ssl_db/

  - path: /etc/squid/squid.conf
    permissions: 0644
    owner: root
    content: |
        acl localnet src 0.0.0.1-0.255.255.255	# RFC 1122 "this" network (LAN)
        acl localnet src 10.0.0.0/8		# RFC 1918 local private network (LAN)
        acl localnet src 100.64.0.0/10		# RFC 6598 shared address space (CGN)
        acl localnet src 169.254.0.0/16 	# RFC 3927 link-local (directly plugged) machines
        acl localnet src 172.16.0.0/12		# RFC 1918 local private network (LAN)
        acl localnet src 192.168.0.0/16		# RFC 1918 local private network (LAN)
        acl localnet src fc00::/7       	# RFC 4193 local private network range
        acl localnet src fe80::/10      	# RFC 4291 link-local (directly plugged) machines

        acl SSL_ports port 443
        acl Safe_ports port 80		# http
        acl Safe_ports port 21		# ftp
        acl Safe_ports port 443		# https
        acl Safe_ports port 70		# gopher
        acl Safe_ports port 210		# wais
        acl Safe_ports port 1025-65535	# unregistered ports
        acl Safe_ports port 280		# http-mgmt
        acl Safe_ports port 488		# gss-http
        acl Safe_ports port 591		# filemaker
        acl Safe_ports port 777		# multiling http

        http_access deny !Safe_ports
        http_access deny CONNECT !SSL_ports
        http_access allow localhost manager
        http_access deny manager
        http_access deny to_localhost
        http_access deny to_linklocal
        include /etc/squid/conf.d/*.conf

        http_access allow all

        acl intermediate_fetching transaction_initiator certificate-fetching
        http_access allow intermediate_fetching

        sslcrtd_program /usr/lib/squid/security_file_certgen -s /var/spool/squid/ssl_db -M 4MB
        sslcrtd_children 8 startup=1 idle=1
        # sslproxy_cert_error allow all
        ssl_bump stare all

        http_port 3128 tcpkeepalive=60,30,3 ssl-bump generate-host-certificates=on dynamic_cert_mem_cache_size=4MB cert=/etc/squid/cert/ca.pem key=/etc/squid/cert/ca.key cipher=HIGH:MEDIUM:!LOW:!RC4:!SEED:!IDEA:!3DES:!MD5:!EXP:!PSK:!DSS options=NO_TLSv1,NO_SSLv3 tls-dh=prime256v1:/etc/squid/cert/dhparam.pem

        coredump_dir /var/spool/squid

        refresh_pattern ^ftp:		1440	20%	10080
        refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
        refresh_pattern \/(Packages|Sources)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
        refresh_pattern \/Release(|\.gpg)$ 0 0% 0 refresh-ims
        refresh_pattern \/InRelease$ 0 0% 0 refresh-ims
        refresh_pattern \/(Translation-.*)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
        refresh_pattern .		0	20%	4320

        # TLS and SSL options
        tls_outgoing_options cipher=HIGH:!RC4:!MD5:!aNULL:!eNULL

runcmd:
- [ sh, "/root/create-private-ca.sh" ]
- [ sh, -c, systemctl restart squid.service ]
